{% extends 'templates/pages/global.html' %}
{% block title %}{{painting.name}} | {% endblock title %}
{% block content %}

<div class="text-secondary-page">
    <h1>Nome da Igreja: {{ church.name }}</h1>
    {% if church.city %}
        <h3>Cidade da Igreja: {{ church.city }}</h3>
    {% endif %}
    {% if church.state %}
        <h3>Estado da Igreja: {{ church.state }}</h3>
    {% endif %}

</div>
    {% if paintings.count == 1 %}
        <h2>Pintura dessa igreja</h2>
        <br>
        <div class="main-content  container" id="one-item">
            {% for painting in paintings %} 
                
                    {% include 'museum/partials/painting.html' %}
                
            {% endfor %}
        </div>

    {% else %}

        <h2>Lista das pinturas dessa igreja</h2>
        <br>
        <div class="main-content main-content-list container" id="church-page">
            {% for painting in paintings %}
            
                {% include 'museum/partials/painting.html' %}

            {% endfor %}
        </div>
    {% endif %}  
{% endblock content %}