{% extends 'templates/pages/global.html' %}
{% block title %}{{painting.name}} | {% endblock title %}
{% block content %}

<div class="main-content main-content-detail container" id="details-page">
    {% if edit is True %}
        <div class="login-message">
            <h2><a href="{% url 'user:dashboard' %}">Dashboard</a></h2>
        </div>
    {% endif %}
    {% include 'museum/partials/painting.html' %}
</div>
    {% if edit is True %}
        <div class="form-content center form-content-grid">
            <div class="form-group ">
                <a class="link-to-button" href="{% url 'user:painting_edit' painting.id %}">Editar</a>
            </div>
            <form class = "form-delete" action="{% url 'user:painting_delete' painting.id %}" method="POST">
                {% csrf_token %}
                <button class="plaintext-button" type="submit">Excluir</button>
            </form>
        </div>
    {% endif %}

{% endblock content %}