{% extends 'templates/pages/global.html' %}
{% block title %}{{engraving.name}} | {% endblock title %}
{% block content %}

<div class="text-secondary-page">
    <div class="center-flex" id="church-name">
        <h1>{{ engraving.name }}</h1>
    </div>
    
    <div class="center-flex" id="church-location">
        
        <h3>{{ engraving.book }}</h3>
    </div>    

</div>
        <h2 class="gray-text">Lista das pinturas dessa igreja</h2>
        <br>
        <div class="main-content main-content-list container" id="church-page">
            {% if engraving %}
                {% include 'museum/partials/engraving.html' %}
            {% endif %}
            
        </div>


{% endblock content %}