{% extends 'templates/pages/global.html' %}
{% block title %}{{painting.name}} | {% endblock title %}
{% block content %}
<div class="text-secondary-page">
    
    <div class="center-flex">
        <i class="fa-solid fa-paintbrush fa-lg logo-info"></i>
        <h1 id="painter-name">{{ painter.name }}</h1>
        <i class="fa-solid fa-paintbrush fa-lg logo-info"></i>
    </div>
    
    {% if paintings.count == 1 %}
        <h2 class="gray-text">Obra deste pintor:</h2>
        <br>
        <div class="main-content  container" id="one-item">
            {% for painting in page.paintings %} 
                {% include 'museum/partials/painting.html' %}    
            {% endfor %}
        </div>
    {% else %}
        <h2 class="gray-text">Obras deste pintor:</h2>
        <br>
        <div class="main-content main-content-list container">
            {% for painting in page.paintings %}            
                {% include 'museum/partials/painting.html' %}
            {% endfor %}
        </div>
        <div class="container">
            {% include 'templates/partials/pagination.html' %}
        </div>
    {% endif %}   
</div>
{% endblock content %}