{% extends 'templates/pages/global.html' %}
{% block title %}Home | {% endblock title %}
{% block content %}

<div class="main-content center container">
    <!-- <h2>Pintores encontrados pela busca: {{search_result}}</h2> -->
        {% if painters %}
        <div class= "search-page">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Pintor</th>
                    <th scope="col">Obras</th>
                    </tr>
                </thead>
                <tbody>
                    {% for painter, qtd_paintings in painters %}
                        <tr>
                            <td class="main-table-name"><a class="table-link" href="{% url 'painting:painter' painter.id %}">{{painter.name}}</a></td>
                            <td>{{qtd_paintings}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h1>Nenhum pintor encontrado com essa busca</h1>
        {% endif %}
</div>
    
{% endblock content %}