{% extends 'templates/pages/global.html' %}
{% block title %}Home | {% endblock title %}
{% block content %}

<h2>Pinturas encontradas pela busca: {{search_result}}</h2>

{% if paintings %}
    {% if paintings.count == 1 %}
        <div class="main-content  container" id="one-item">
            {% for painting in paintings %} 
                
                    {% include 'museum/partials/painting.html' %}
                
            {% endfor %}
        </div>
    
    {% else %}
        <div class="main-content main-content-list container">
            {% for painting in paintings %} 
                {% include 'museum/partials/painting.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    <h1 class="main-content  container" id="one-item" >Nenhuma pintura encontrada pela busca!</h1>
{% endif %}
{% endblock content %}