{% extends 'templates/pages/global.html' %}
{% block title %}Home | {% endblock title %}
{% block content %}

<div class="main-content center container">
    <h2>Igrejas encontradas pela busca: {{search_result}}</h2>
    {% if churches %}
    <div class="search-page"> 
        
        <table class="table">
            <thead>
                <tr>
                <th scope="col" style="width: 8%;">id</th>
                <th scope="col">Igreja</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for church in churches %}
                    <tr>
                        <td>{{church.id}}</td>
                        <td class="main-table-name">{{church.name}}</td>
                        <td>
                            {% if church.city %}
                                {{church.city}}
                            {% else %}
                                ---
                            {% endif %}
                        </td>                      
                        <td>
                            {% if church.state %}
                                {{church.state}}
                            {% else %}
                                ---
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
        {% else %}
            <h1>Nenhuma igreja encontrada com essa busca</h1>
        {% endif %}
</div>
    
{% endblock content %}