{% extends 'templates/pages/global.html' %}

{% block title %}Author register | {% endblock title %}
{% block content %}
    <div class="main-content center container">
        <h2>Cadastrar uma Igreja</h2>
        <div class="login-message">
            <h3><a href="{% url 'user:dashboard' %}">Dashboard</a></h3>
        </div>
        {% include 'templates/partials/messages.html' %}
        <div class="left">
            {% include 'templates/partials/form_church.html' %}
        </div>
    </div>


{% endblock content %}