{% extends 'templates/pages/global.html' %}

{% block title %}Pinturas publicadas | {% endblock title %}
{% block content %}
    {% include 'templates/partials/messages.html' %}
    <div class="login-message">
        <h2>Suas pinturas publicadas</h2>
        <h2>Obrigado {{usuario}} pela contribuição</h2>
    </div>
    <div class="main-content main-content-list container">
        {% for painting in page.paintings %}          
            {% include 'museum/partials/painting.html' %} 
        {%empty%}  
        <h1>No paintings found here!</h1>
        {% endfor %}
    </div>
    <div class="container">
        {% include 'templates/partials/pagination.html' %}
    </div>

{% endblock content %}