{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'templates/partials/head.html' %}
    <title>{% block title %}{% endblock title %} RafArte</title>

</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            {% include 'templates/partials/header.html' %}
        
            {% if search is not False %}
                {% include 'templates/partials/search.html' %}
            {% else %}
                <div class="top-space">
                </div>
            
            {% endif %}
        
            <main class="main-content-container">
                {% block content %}{% endblock content %}
                <!--{% include 'templates/partials/pagination.html' %}-->
        
            </main>

        </div>
        {% include 'templates/partials/footer.html' %} 
    </div>
    <script src="{% static 'static/js/script.js' %}"></script>
    <script src="{% static 'static/js/scriptSliderShow.js' %}"></script>

</body>

</html>