<footer class="main-footer">
    <div class="developer">
      <a href="https://github.com/GuilhermeGonSoares" target="_blank" rel="noreferrer noopener">
        <i class="fas fa-code-branch"></i>  
        Guilherme</a>
      <a href="https://github.com/yantavares" target="_blank" rel="noreferrer noopener">
        <i class="fas fa-code-branch"></i>  
         Yan</a>
    </div>
  
    <div class="powered">
      <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
    </div>
  </footer>