<script>
    $(document).ready(function(){
        $('#ddlselect').select2({
            placeholder:'Selecione o pintor',
            closeOnSelect:false,
        });
        if (sessionStorage.getItem("authors") !== null){
            const authors_selected = sessionStorage.getItem("authors").split(',');
            console.log(authors_selected);
            $('#ddlselect').val(authors_selected).change();
        }

    });
    
</script>

<form class="create_painting" action="{{form_action}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
        <div class="form-content form-content-grid">
            <div class="form-group">
                <div class="message message-error">
                    Por favor corrija os erros no formulário
                </div>
            </div>
        </div>
    {% endif %}
    <div class="form-content form-content-grid">
        {% for field in form %}
        <div class="form-group {{field.field.widget.attrs.class}}">
            <label for="{{field.id_for_label}}">{{field.label}}</label>

            {% if field.name == 'author' %}
                <p class="church-select">Não achou o pintor na lista?
                <a id="create_author" href="{% url 'user:painting_author_create' %} ">Adicione</a></p> 
                
                <select name="pintores_selecionados" id="ddlselect" multiple>
                    {% for author in authors %}
                    {% if author in authors_registered %}
                        <option selected="selected" value="{{author.id}}">{{author.name}}</option>
                    {% else %}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="hidden" id="myVar" name="variable" value="{{ authors_json }}">
                
    
            {% elif field.name == 'church' %}
                <p class="church-select">Não achou a igreja na lista?
                <a id="create_church" href="{% url 'user:painting_church_create' %} ">Adicione</a></p>
                {{field}}
            {% elif field.name == 'engraving' %}          
                    <p>A sua obra possui gravuras relacionadas a ela? <a id="create_engraving" href="{% url 'user:painting_engraving_all' %}">Clique aqui</a> para adicioná-las ou editá-las.</p>
                
                    <div class="painting-gravuras">
                    {% if engravings %}
                        <p style="text-decoration:underline; color:black;">Gravuras selecionadas:</p>
                    {% else %}
                        <p style="text-decoration:underline; color:black;" >Nenhuma gravura selecionada!</p>
                    {% endif %}
                        <ul>
                            {% for engraving in engravings %}
                                <li>{{engraving.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                
            {% else %}
                {{field}}
            {% endif %}


            {% if field.help_text %}
            <p class="help-text">{{field.help_text}}</p>
            {% endif %}

            {{field.errors}}
        </div>



        {% if field.name == 'cover' and field.value.url %}
        <div class="span-2">
            <img src="{{field.value.url}}" alt="Capa para {{painting.name}}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="form-content form-content-grid">
        <div class="form-group">
            <a class="link-to-button" onclick="confirmCancel()">Cancelar</a>
            <button class="plaintext-button" type="submit">Enviar</button>
        </div>
    </div>

</form>