<form action="{% url 'user:painting_church_create' %}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <div class="form-content form-content-grid">
            <div class="form-group">
                <div class="message message-error">
                    Por favor corrija os erros no formulário
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="form-content form-content-church">
        {% for field in form %}
            <div class="form-group {{field.field.widget.attrs.class}}">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <input type="hidden" id="cities" name="variable" value="{{cities}}">
                {{field}}
                
                {% if field.help_text %}
                    <p class="help-text">{{field.help_text}}</p>
                {% endif %}
                
                {{field.errors}}
            </div>

        {% endfor %}
    </div>

    

    <div class="form-content form-content-grid">
        <div class="form-group">
            <a class="link-to-button" onclick="history.back()">Cancelar</a>
          <button class="plaintext-button" type="submit">Enviar</button>
        </div>
    </div>
</form>
