<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="{% url 'painting:home' %}">
                <i class="fas fa-palette main-logo-icon"></i>
                <span>RafArte</span>
            </a>
        </h1>
    </div>
    {% if user.is_authenticated %}
        <div class="logout">
            <form action="{% url 'user:logout' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{request.user.username}}">
                <button class="plaintext-button" type="submit">Deslogar</button>
            </form>
        </div>
    {% endif %}
    {% if not user.is_authenticated %}
        <div class="login">
            <a href="{% url 'user:login' %}">Logar</a>
            <a href="{% url 'user:register' %}">Registrar</a>
        </div>
    {% endif %}
</header>